/* Login section */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
h2,h3{
    font-family:Georgia, 'Times New Roman', Times, serif
}
h3{
    font-size: 17px;
    letter-spacing: 1px;
}


.login{
    padding: 90px;
    background-color:#FDEDEC ;
}

.card, .card-body{
    border-radius: 20px;
}
